h2, .container{
    text-align: center;
}

ul.heroes{
    text-align: center;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 12em;
    display: inline-block;
}

li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: 1em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: left;

}

li:hover{
    background-color: gray;
    left: -0.5em;
}

.badge{

    font-size: small;
    color: white;
    background-color: #607D8B;
    padding: 0.8em 0.7em 0 0.7em;
    display: inline-block;
    position: relative;
    top: -4px;
    left: -1px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    
}
