<h2>My Heroes</h2>

<div class="container">
<ul class="heroes">
  <li *ngFor = "let hero of heroes" (click)="OnSelect(hero)" 
  [class.selected]="hero === selectedHero">
    <div class="item">
      <span class="badge">{{hero.id}}</span>
      <span>{{hero.name}}</span>
    </div>
  </li>
</ul>



<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div> <span class="name">id: {{selectedHero.id}}</span></div>
    <div>
      <label class="label">name:</label>
        <input [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
</div>


</div>